<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>班级号</td>
        </tr>
        <tr th:each="stu : ${stus}">
            <td th:text="${stu.id}">编号</td>
            <td th:text="${stu.name}">姓名</td>
            <td th:text="${stu.age}">年龄</td>
            <td th:text="${stu.cid}">班级号</td>
        </tr>
    </table>
</body>
</html>