<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>1804_shop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>home.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.qf.filter.EncodingFilter</filter-class>
		<init-param>
			<description></description>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>BackLoginFilter</display-name>
		<filter-name>BackLoginFilter</filter-name>
		<filter-class>com.qf.filter.BackLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BackLoginFilter</filter-name>
		<url-pattern>/back/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BackLoginFilter</filter-name>
		<url-pattern>/UserServlet/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>UserServlet</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.qf.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoodsServlet</display-name>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>com.qf.servlet.GoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>/GoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoodsInfoServlet</display-name>
		<servlet-name>GoodsInfoServlet</servlet-name>
		<servlet-class>com.qf.servlet.GoodsInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsInfoServlet</servlet-name>
		<url-pattern>/GoodsInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ShopServlet</display-name>
		<servlet-name>ShopServlet</servlet-name>
		<servlet-class>com.qf.servlet.ShopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopServlet</servlet-name>
		<url-pattern>/ShopServlet</url-pattern>
	</servlet-mapping>
</web-app>