<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">


	<!-- 1.加载属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 2.配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	
	<!-- 3.Spring整合Hibenrate -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 3.1 指定数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 3.2指定hibnerate配置文件 -->
<!-- 		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property> -->
		<!-- 3.3添加映射文件 -->
		<property name="mappingLocations" value="classpath:com/qf/entity/*.hbm.xml"></property>
		
		<!-- 3.4 hibnerate属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
			</props>
		</property>
	</bean>
	
	<!-- 3.配置事务管理 -->
	<bean id="txManager" class=" org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启事务注解驱动 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<!-- 5.配置accountDao -->
	<bean id="accountDao" class="com.qf.dao.impl.AccountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 6.配置accountService -->
	<bean id="accountService" class="com.qf.service.impl.AccountServiceImpl">
		<property name="accountDao" ref="accountDao"></property>
	</bean>
	
	
</beans>