<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 
		开启包扫描,扫那些注解
		base-package:包名(会扫描指定包或子包)，可以指定多个包名(包名和包名之间用逗号隔开)
		-->
	<context:component-scan base-package="com.qf.service.impl,com.qf.dao.impl"></context:component-scan>
</beans>