<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<package name="com.qf.ssm.entity"/>
	</typeAliases>
	
	<!-- 注册插件 -->
	<plugins>
		<plugin interceptor="com.qf.ssm.interceptor.ShowSqlPlugin">
			<property name="showsql" value="true"/>
		</plugin>
		
		<plugin interceptor="com.qf.ssm.interceptor.PagePlugin"></plugin>
	</plugins>
	
	
</configuration>